@model MyGebeya.ViewModels.PostItemViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Edit Item For Sale </h2>

@using (Html.BeginForm("Edit", "ItemForSale", FormMethod.Post, new { enctype = "multipart/form-data", @style = "width: 100 %; " }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item.item_id)

        <div class="form-group">
            @Html.LabelFor(model => model.Item.item_name, htmlAttributes: new { @style = "font-size:20px;", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.item_name, new { htmlAttributes = new {@placeholder = Model.Item.item_name, @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.item_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item.item_description, htmlAttributes: new { @style = "font-size:20px;", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.item_description, new { htmlAttributes = new { @placeholder = Model.Item.item_description, @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.item_description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item.availability, htmlAttributes: new { @style = "font-size:20px;", @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Item.availability)
                    @Html.ValidationMessageFor(model => model.Item.availability, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item.item_type_id, "item_type_id", htmlAttributes: new { @style = "font-size:20px;", @class = "control-label " })

            @Html.DropDownListFor(model => model.Item.item_type_id, new SelectList(Model.Item.item_Types, "item_type_id", "item_type_name"), "Select Item Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Item.item_type_id, "", new { @class = "text-danger" })
        </div>
        <div style="margin-top: 50px" class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Item.price_per_item, htmlAttributes: new { @style = "font-size:20px;", @class = "control-label " })
                @Html.EditorFor(model => model.Item.price_per_item, new { htmlAttributes = new { @placeholder = Model.Item.price_per_item, @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.price_per_item, "", new { @class = "text-danger" })

            </div>

            <div style="margin-left:50px" class="form-group">
                <label style="font-size:20px;" class="control-label " for="ImageFile">Image</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Item.ImageFile, new { accept = ".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*", type = "file", name = "Files" })<br /><br />

                </div>

            </div>
            <div>
                <label style="font-size: 20px;" for="image">Current Image</label>
                <div>
                    <img style="border-radius: 20px" id="image" width="250" height="200" src="@Url.Content(@Model.Item.item_image_path)" />
                </div>
                
            </div>
           
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" class="btn btn-default" onclick="return confirm('Are you sure you want to Save Changes')" />
            </div>
        </div>
    </div>

}


